<span>{{ title }} app is running!</span>

<ul>
  <li>test unordered list</li>
  <li>test unordered list 1</li>
</ul>

<app-dog [items]="animals"></app-dog>
<button (click)="removeAnimals()">Remove Animal</button>
<button (click)="addAnimals()">Add Animal</button>
<input type="text" [(ngModel)]="animalinput"/>

<app-dog [items]="plants"></app-dog>
<button (click)="removePlants()">Remove Plant</button>
<button (click)="addPlants()">Add Plant</button>
<input type="text" [(ngModel)]="plantinput"/>

<app-dog [items]="cars"></app-dog>
<button (click)="removeCars()">Remove Car</button>
<button (click)="addCars()">Add Car</button>
<input type="text" [(ngModel)]="carinput"/>

<router-outlet></router-outlet>
